<table data-id="{{roster.id}}">
  <thead>
    <tr>
      <th>ID</th>
      <th>Team Name</th>
      <th>Season</th>
      <th>League Size</th>
      <th>Scoring Format</th>
    </tr>
  </thead>
  <tbody>
    {{#each rosters as |roster|}}
    <tr>
      <td>{{roster.id}}</td>
      <td>{{roster.name}}</td>
      <td>{{roster.season}}</td>
      <td>{{roster.league_size}}</td>
      <td>{{roster.scoring_format}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
