{{#each rosters as |roster|}}
  <section data-id="{{roster.id}}">
    <h6>Name:</h6>
    <h3>
      {{roster.name}}
    </h3>
    <h6>Season:</h6>
    <h3>
      {{roster.season}}
    </h3>
    <h6>League Size:</h6>
    <h3>
      {{roster.league_size}}
    </h3>
    <h6>Scoring Format:</h6>
    <h3>
      {{roster.scoring_format}}
    </h3>
  </section>
{{/each}}
